    <!-- Navbar start -->
    {% extends "navbar.html" %}
    {% block all_else %}
    <!-- Navbar end -->
    <br><br>
    <section class="p-5">
      <div class="container">
        <div class="row" id="row1">
          <div class="col" id="col1">
            <h3>Jimmy Scan</h3>
          </div>
        </div>
        <div class="row" id="row2">
          <div class="col" id="col2">
            <div class="accordion" id="accordionSettings" style="max-width:500px">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingZero">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                    Scan Settings
                  </button>
                </h2>
                <div id="collapseZero" class="accordion-collapse collapse" aria-labelledby="headingZero" data-bs-parent="#accordionSettings">
                  <div class="accordion-body">
                    <div class="table-responsive">
                      <table class="table" id="settings_table">
                        <thead>
                        </thead>
                        <tbody>
                          <tr>
                            <th>List scanned</th>
                            <td id="list_scanned">{{info['list_scanned']}}</td>
                          </tr>
                          <tr>
                            <th>Cutoff number (0-503)</th>
                            <td id="cutoff">{{info['cutoff']}}</td>
                          </tr>
                          <tr>
                            <th>Delta</th>
                            <td id="delta">{{info['delta']}}</td>
                          </tr>
                          <tr>
                            <th>Open interest, min</th>
                            <td id="min_oi">{{info['min_oi']}}</td>
                          </tr>
                          <tr>
                            <th>DTE, min</th>
                            <td id="DTE_min">{{info['DTE_min']}}</td>
                          </tr>
                          <tr>
                            <th>DTE, max</th>
                            <td id="DTE_max">{{info['DTE_max']}}</td>
                          </tr>
                          <tr>
                            <th>Time back</th>
                            <td id="time_back">{{info['time_back']}}</td>
                          </tr>
                          <tr>
                            <th>Interval</th>
                            <td id="interval">{{info['interval']}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <button id="change_settings" class="btn btn-dark" type="button" onclick="editSettings()">Edit Settings</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="row3">
            <div class="col" id="col3">
              <br>
              <button class="btn btn-dark" onclick="GetScriptStatus(click=true)">Scan Now</button>
            </div>
          </div>
          <div class="row" id="row4">
            <div class="col" id="col4">
              <div id="progress_header">
                Symbols {{info['counter'] + 1}} / {{info['cutoff']}} ({{info['progress_pct'] + 100}} %)
                <div class="progress-grid__container">
                  <div class="progress-bar__container">
                    <div class="progress-bar">
                      <span class="progress-bar__text">Screener finished, paused. Please refresh page to see update.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="row5">
            <div class="col" id="col5">
              Last update: {{info['time']}}
            </div>
          </div>
          <br>
          <div class="row" id="row6">
            <div class="col" id="col6">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Up List ({{info['length_up']}})
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <button id="btnExportToCsv1" type="button" class="button">Export to CSV</button>
                      <br>
                      <div class="table-responsive scroll">
                        <table class="table" id="index_table1">
                          <thead>
                            <tr>
                              <th><a href="javascript:SortTable(0,'T','',1);">Option Symbol</a></th>
                              <th><a href="javascript:SortTable(1,'T','',1);">Symbol</a></th>
                              <th><a href="javascript:SortTable(2,'D','mdy',1);">Expiration</a></th>
                              <th><a href="javascript:SortTable(3,'N','',1);">Strike</a></th>
                              <th><a href="javascript:SortTable(4,'N','',1);">Last</a></th>
                              <th><a href="javascript:SortTable(5,'N','',1);">Delta</a></th>
                              <th><a href="javascript:SortTable(6,'N','',1);">OI</a></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in up_list %}
                            <tr style="display: table-row">
                              <td> {{ item['option_symbol'] }} </td>
                              <td> {{ item['symbol'] }} </td>
                              <td> {{ item['expiration'] }} </td>
                              <td> {{ item['strike'] }} </td>
                              <td> {{ item['last'] }} </td> 
                              <td> {{ item['delta'] }} </td> 
                              <td> {{ item['open_interest'] }} </td> 
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Down List ({{info['length_down']}})
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <button id="btnExportToCsv2" type="button" class="button">Export to CSV</button>
                      <div class="table-responsive scroll">
                        <table class="table" id="index_table2">
                          <thead>
                            <tr>
                              <th><a href="javascript:SortTable(0,'T','',2);">Option Symbol</a></th>
                              <th><a href="javascript:SortTable(1,'T','',2);">Symbol</a></th>
                              <th><a href="javascript:SortTable(2,'D','mdy',2);">Expiration</a></th>
                              <th><a href="javascript:SortTable(3,'N','',2);">Strike</a></th>
                              <th><a href="javascript:SortTable(4,'N','',2);">Last</a></th>
                              <th><a href="javascript:SortTable(5,'N','',2);">Delta</a></th>
                              <th><a href="javascript:SortTable(6,'N','',2);">OI</a></th>
                            </tr>
                          </thead>
                        <tbody>
                          {% for item in down_list %}
                          <tr style="display: table-row">
                            <td> {{ item['option_symbol'] }} </td>
                            <td> {{ item['symbol'] }} </td>
                            <td> {{ item['expiration'] }} </td>
                            <td> {{ item['strike'] }} </td>
                            <td> {{ item['last'] }} </td> 
                            <td> {{ item['delta'] }} </td>
                            <td> {{ item['open_interest'] }} </td> 
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <style>
      body {
        background-color: gainsboro;
      }
      .scroll {
        max-height: 500px;
        overflow: scroll
      }
      .scroll thead th {
        background-color: white;
        position: sticky;
        top: 0
      }
      .pointer {
        cursor: pointer;
      }
      #progress_header {
        width: 100%;
        text-align: left;
        padding: 5px;
      }
      .progress-grid__container {
        display: flex;
        justify-content: left;
        align-items: left;
        height: 100%;
        width: 100%;
        padding: 5px;
      }
      .progress-bar__container {
        width: 70%;
        height: 2rem;
        border-radius: 2rem;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        will-change: transform;
        box-shadow: 0 0 5px #008516;
      }
      .progress-bar {
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        background-color: #008516;
        top:0;
        bottom: 0;
        left: {{info['progress_pct']}}%;
        border-radius: inherit;
        display: flex;
        justify-content: center;
        align-items:center;
        color: white;
        font-family: sans-serif;
      }
      .progress-bar__text {
        display: none;
      }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
    <script>

    function ConnectFire() {
      const firebaseConfig = {{db_config | safe}};
      if (firebase.apps.length === 0) {
          firebase.initializeApp(firebaseConfig);
          return true
      } else {
          return false
      }
    };

    function editSettings() {
      let list_scanned = document.getElementById("list_scanned")
      let cutoff = document.getElementById("cutoff")
      let delta = document.getElementById("delta")
      let min_oi = document.getElementById("min_oi")
      let DTE_min = document.getElementById("DTE_min")
      let DTE_max = document.getElementById("DTE_max")
      let time_back = document.getElementById("time_back")
      let interval = document.getElementById("interval")

      let input1 = document.createElement("select")
      let input1a = document.createElement("option")
      list_options = ["S&P500"]
      input1a.value = list_options[0]
      input1a.textContent = list_options[0]
      input1.appendChild(input1a)
      list_scanned.parentElement.appendChild(input1)
      list_scanned.parentElement.removeChild(list_scanned)
      input1.id = `list_scanned_input`
      input1.selectedIndex = list_options.indexOf(list_scanned.textContent)

      let input2 = document.createElement("input")
      input2.value = cutoff.textContent
      cutoff.parentElement.appendChild(input2)
      cutoff.parentElement.removeChild(cutoff)
      input2.id = `cutoff_input`
      
      let input3 = document.createElement("input")
      input3.value = delta.textContent
      delta.parentElement.appendChild(input3)
      delta.parentElement.removeChild(delta)
      input3.id = `delta_input`
      
      let input4 = document.createElement("input")
      input4.value = min_oi.textContent
      min_oi.parentElement.appendChild(input4)
      min_oi.parentElement.removeChild(min_oi)
      input4.id = `min_oi_input`
      
      let input5 = document.createElement("input")
      input5.value = DTE_min.textContent
      DTE_min.parentElement.appendChild(input5)
      DTE_min.parentElement.removeChild(DTE_min)
      input5.id = `DTE_min_input`

      let input6 = document.createElement("input")
      input6.value = DTE_max.textContent
      DTE_max.parentElement.appendChild(input6)
      DTE_max.parentElement.removeChild(DTE_max)
      input6.id = `DTE_max_input`

      let input7 = document.createElement("input")
      input7.value = time_back.textContent
      time_back.parentElement.appendChild(input7)
      time_back.parentElement.removeChild(time_back)
      input7.id = `time_back_input`

      let input8 = document.createElement("select")
      let input8a = document.createElement("option")
      let input8b = document.createElement("option")
      let input8c = document.createElement("option")
      interval_options = ["daily", "weekly", "monthly"]
      input8a.value = interval_options[0]
      input8a.textContent = interval_options[0]
      input8b.value = interval_options[1]
      input8b.textContent = interval_options[1]
      input8c.value = interval_options[2]
      input8c.textContent = interval_options[2]
      input8.appendChild(input8a)
      input8.appendChild(input8b)
      input8.appendChild(input8c)
      interval.parentElement.appendChild(input8)
      interval.parentElement.removeChild(interval)
      input8.id = `interval_input`
      input8.selectedIndex = interval_options.indexOf(interval.textContent)

      let edit_btn = document.getElementById("change_settings")
      let submit_btn = document.createElement("button")
      submit_btn.innerHTML = "Submit Settings"
      submit_btn.className = "btn btn-primary"
      submit_btn.id = "submit_settings"
      submit_btn.onclick = function() {submitSettings()}
      edit_btn.parentElement.appendChild(submit_btn)
      edit_btn.parentElement.removeChild(edit_btn)
    };

    function submitSettings() {
        let list_scanned_input = document.getElementById(`list_scanned_input`)
        let cutoff_input = document.getElementById(`cutoff_input`)
        let delta_input = document.getElementById(`delta_input`)
        let min_oi_input = document.getElementById(`min_oi_input`)
        let DTE_min_input = document.getElementById(`DTE_min_input`)
        let DTE_max_input = document.getElementById(`DTE_max_input`)
        let time_back = document.getElementById("time_back")
        let interval = document.getElementById("interval")

        let list_scanned_td = document.createElement("td")
        let cutoff_td = document.createElement("td")
        let delta_td = document.createElement("td")
        let min_oi_td = document.createElement("td")
        let DTE_min_td = document.createElement("td")
        let DTE_max_td = document.createElement("td")
        let time_back_td = document.createElement("td")
        let interval_td = document.createElement("td")

        list_scanned_td.id = `list_scanned`
        cutoff_td.id = `cutoff`
        delta_td.id = `delta`
        min_oi_td.id = `min_oi`
        DTE_min_td.id = `DTE_min`
        DTE_max_td.id = `DTE_max`
        time_back_td.id = `time_back`
        interval_td.id = `interval`

        list_scanned_td.textContent = list_scanned_input.value
        cutoff_td.textContent = cutoff_input.value
        delta_td.textContent = delta_input.value
        min_oi_td.textContent = min_oi_input.value
        DTE_min_td.textContent = DTE_min_input.value
        DTE_max_td.textContent = DTE_max_input.value
        time_back_td.textContent = time_back_input.value
        interval_td.textContent = interval_input.value

        list_scanned_input.parentElement.appendChild(list_scanned_td)
        cutoff_input.parentElement.appendChild(cutoff_td)
        delta_input.parentElement.appendChild(delta_td)
        min_oi_input.parentElement.appendChild(min_oi_td)
        DTE_min_input.parentElement.appendChild(DTE_min_td)
        DTE_max_input.parentElement.appendChild(DTE_max_td)
        time_back_input.parentElement.appendChild(time_back_td)
        interval_input.parentElement.appendChild(interval_td)

        list_scanned_input.parentElement.removeChild(list_scanned_input)
        cutoff_input.parentElement.removeChild(cutoff_input)
        delta_input.parentElement.removeChild(delta_input)
        min_oi_input.parentElement.removeChild(min_oi_input)
        DTE_min_input.parentElement.removeChild(DTE_min_input)
        DTE_max_input.parentElement.removeChild(DTE_max_input)
        time_back_input.parentElement.removeChild(time_back_input)
        interval_input.parentElement.removeChild(interval_input)

        let edit_btn_new = document.createElement("button")
        edit_btn_new.className = "btn btn-dark"
        edit_btn_new.id = "change_settings"
        edit_btn_new.textContent = "Edit Settings"
        edit_btn_new.onclick = function() {editSettings()}

        let submit_btn = document.getElementById("submit_settings")
        submit_btn.parentElement.appendChild(edit_btn_new)
        submit_btn.parentElement.removeChild(submit_btn)

        let json_all = {
          "list_scanned": String(list_scanned_input.value),
          "cutoff": parseInt(cutoff_input.value),
          "delta": parseInt(delta_input.value),
          "min_oi": parseInt(min_oi_input.value),
          "DTE_min": parseInt(DTE_min_input.value),
          "DTE_max": parseInt(DTE_max_input.value),
          "time_back": parseInt(time_back_input.value),
          "interval": String(interval_input.value)
        }

        ConnectFire()
        console.log(json_all)
        firebase.database().ref(`scanner/info`).update(json_all)
      }

    var TableLastSortedColumn = -1;
      function SortTable() {
        var sortColumn = parseInt(arguments[0]);
        var type = arguments.length > 1 ? arguments[1] : 'T';
        var dateformat = arguments.length > 2 ? arguments[2] : '';
        var table_id = "index_table" + arguments[3]
        var table = document.getElementById(table_id);
        var tbody = table.getElementsByTagName("tbody")[0];
        var rows = tbody.getElementsByTagName("tr");
        var arrayOfRows = new Array();
        type = type.toUpperCase();
        dateformat = dateformat.toLowerCase();
        for (var i = 0, len = rows.length; i < len; i++) {
          arrayOfRows[i] = new Object;
          arrayOfRows[i].oldIndex = i;
          var celltext = rows[i].getElementsByTagName("td")[sortColumn].innerHTML.replace(/<[^>]*>/g, "");
          if (type == 'D') { arrayOfRows[i].value = GetDateSortingKey(dateformat, celltext); }
          else {
            var re = type == "N" ? /[^\.\-\+\d]/g : /[^a-zA-Z0-9]/g;
            arrayOfRows[i].value = celltext.replace(re, "").substr(0, 25).toLowerCase();
          }
        }
        let ths = table.getElementsByTagName("th")
        let idx = 0
        while (idx < ths.length) {
          ths[idx].innerHTML = String(ths[idx].innerHTML).split('</a>')[0] + '</a>'
          idx++
        };
        console.log(sortColumn)
        console.log(TableLastSortedColumn)
        if (sortColumn == TableLastSortedColumn) {
          if (localStorage.getItem("last_sort") == "down") {
            ths[sortColumn].innerHTML = ths[sortColumn].innerHTML + "&#9650";
            console.log("Up arrow")
            localStorage.setItem("last_sort", "up")
          } else {
            ths[sortColumn].innerHTML = ths[sortColumn].innerHTML + "&#9660";
            console.log("Down arrow")
            localStorage.setItem("last_sort", "down")
          };
        } else {
          ths[sortColumn].innerHTML = ths[sortColumn].innerHTML + "&#9660";
          console.log("Down arrow")
          localStorage.setItem("last_sort", "down")
        };
        if (sortColumn == TableLastSortedColumn) { arrayOfRows.reverse(); }
        else {
          TableLastSortedColumn = sortColumn;
          switch (type) {
            case "N": arrayOfRows.sort(CompareRowOfNumbers); break;
            case "D": arrayOfRows.sort(CompareRowOfNumbers); break;
            default: arrayOfRows.sort(CompareRowOfText);
          }
        }
        var newTableBody = document.createElement("tbody");
        for (var i = 0, len = arrayOfRows.length; i < len; i++) {
          newTableBody.appendChild(rows[arrayOfRows[i].oldIndex].cloneNode(true));
        }
        table.replaceChild(newTableBody, tbody);
        tableRowColor()
        var tds = table.getElementsByTagName("td");
        let j = 0;
        while (j < tds.length) {
          tds[j].style.background = "none"
          j++
        }
        let k = sortColumn
        while (k < tds.length) {
          tds[k].style.background = "rgba(255, 255, 255, 0.507)"
          k = k + 15
        }
      } // function SortTable()

      function CompareRowOfText(a, b) {
        var aval = a.value;
        var bval = b.value;
        return (aval == bval ? 0 : (aval > bval ? 1 : -1));
      } // function CompareRowOfText()

      function CompareRowOfNumbers(a, b) {
        var aval = /\d/.test(a.value) ? parseFloat(a.value) : 0;
        var bval = /\d/.test(b.value) ? parseFloat(b.value) : 0;
        return (aval == bval ? 0 : (aval > bval ? 1 : -1));
      } // function CompareRowOfNumbers()

      function GetDateSortingKey(format, text) {
        if (format.length < 1) { return ""; }
        format = format.toLowerCase();
        text = text.toLowerCase();
        text = text.replace(/^[^a-z0-9]*/, "");
        text = text.replace(/[^a-z0-9]*$/, "");
        if (text.length < 1) { return ""; }
        text = text.replace(/[^a-z0-9]+/g, ",");
        var date = text.split(",");
        if (date.length < 3) { return ""; }
        var d = 0, m = 0, y = 0;
        for (var i = 0; i < 3; i++) {
          var ts = format.substr(i, 1);
          if (ts == "d") { d = date[i]; }
          else if (ts == "m") { m = date[i]; }
          else if (ts == "y") { y = date[i]; }
        }
        d = d.replace(/^0/, "");
        if (d < 10) { d = "0" + d; }
        if (/[a-z]/.test(m)) {
          m = m.substr(0, 3);
          switch (m) {
            case "jan": m = String(1); break;
            case "feb": m = String(2); break;
            case "mar": m = String(3); break;
            case "apr": m = String(4); break;
            case "may": m = String(5); break;
            case "jun": m = String(6); break;
            case "jul": m = String(7); break;
            case "aug": m = String(8); break;
            case "sep": m = String(9); break;
            case "oct": m = String(10); break;
            case "nov": m = String(11); break;
            case "dec": m = String(12); break;
            default: m = String(0);
          }
        }
        m = m.replace(/^0/, "");
        if (m < 10) { m = "0" + m; }
        y = parseInt(y);
        if (y < 100) { y = parseInt(y) + 2000; }
        return "" + String(y) + "" + String(m) + "" + String(d) + "";
      } // function GetDateSortingKey()

    class TableCSVExporter {
        constructor (table, includeHeaders = true) {
            this.table = table;
            this.rows = Array.from(table.querySelectorAll("tr"));
            if (!includeHeaders && this.rows[0].querySelectorAll("th").length) {
                this.rows.shift();
            }
        }
        convertToCSV () {
            const lines = [];
            const numCols = this._findLongestRowLength();
            for (const row of this.rows) {
                let line = "";
                for (let i = 0; i < numCols; i++) {
                    if (row.children[i] !== undefined) {
                        line += TableCSVExporter.parseCell(row.children[i]);
                    }
                    line += (i !== (numCols - 1)) ? "," : "";
                }
                lines.push(line);
            }
            return lines.join("\n");
        }
        _findLongestRowLength () {
            return this.rows.reduce((l, row) => row.childElementCount > l ? row.childElementCount : l, 0);
        }
        static parseCell (tableCell) {
            let parsedValue = tableCell.textContent;
            parsedValue = parsedValue.replace(/"/g, `""`);
            parsedValue = /[",\n]/.test(parsedValue) ? `"${parsedValue}"` : parsedValue;
            return parsedValue;
        }
    }

    const btnExportToCsv1 = document.getElementById("btnExportToCsv1");
    btnExportToCsv1.addEventListener("click", () => {
        let indexTable = document.getElementById("index_table1");
        let indexTableHead = indexTable.getElementsByTagName("thead")[0]
        let indexTableBody = indexTable.getElementsByTagName("tbody")[0]
        var tableRows = indexTable.getElementsByTagName('tr');
        var rowCount = tableRows.length;
        for (var x=rowCount-1; x>0; x--) {
          if (tableRows[x].style.display == "none") {
            indexTable.children[1].removeChild(tableRows[x]);
          }
        }
        const exporter = new TableCSVExporter(indexTable);
        const csvOutput = exporter.convertToCSV();
        const csvBlob = new Blob([csvOutput], { type: "text/csv" });
        const blobUrl = URL.createObjectURL(csvBlob);
        const anchorElement = document.createElement("a");
        anchorElement.href = blobUrl;
        anchorElement.download = "up_list.csv";
        anchorElement.click();
        setTimeout(() => {
            URL.revokeObjectURL(blobUrl);
        }, 500);
    });

    const btnExportToCsv2 = document.getElementById("btnExportToCsv2");
    btnExportToCsv2.addEventListener("click", () => {
        let indexTable = document.getElementById("index_table2");
        let indexTableHead = indexTable.getElementsByTagName("thead")[0]
        let indexTableBody = indexTable.getElementsByTagName("tbody")[0]
        var tableRows = indexTable.getElementsByTagName('tr');
        var rowCount = tableRows.length;
        for (var x=rowCount-1; x>0; x--) {
          if (tableRows[x].style.display == "none") {
            indexTable.children[1].removeChild(tableRows[x]);
          }
        }
        const exporter = new TableCSVExporter(indexTable);
        const csvOutput = exporter.convertToCSV();
        const csvBlob = new Blob([csvOutput], { type: "text/csv" });
        const blobUrl = URL.createObjectURL(csvBlob);
        const anchorElement = document.createElement("a");
        anchorElement.href = blobUrl;
        anchorElement.download = "down_list.csv";
        anchorElement.click();
        setTimeout(() => {
            URL.revokeObjectURL(blobUrl);
        }, 500);
    });

    let heroku_name = "{{heroku_name | safe}}";
    let heroku_api = "{{heroku_api | safe}}";
    let script_name = "{{script_name | safe}}";
    function startScript() {
      let start_url = `https://api.heroku.com/apps/${heroku_name}/dynos`
      var xhr = new XMLHttpRequest();
      xhr.open("POST", start_url);
      xhr.setRequestHeader("Accept", "application/vnd.heroku+json; version=3");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.setRequestHeader("Authorization", `Bearer ${heroku_api}`); 
      const json_data = {
        "command": `python ${script_name}.py`,
        "type": "run:detached"
      }
      xhr.send(JSON.stringify(json_data));
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          // Do nothing
        };
      };
      GetScriptStatus();
    };

    function sleep(sleepDuration) {
      var now = new Date().getTime();
      while (new Date().getTime() < now + sleepDuration) { /* Do nothing */ }
    }

    function GetScriptStatus(click=false) {
      sleep(1000)
      let dyno_url = `https://api.heroku.com/apps/${heroku_name}/dynos`
      var xhr = new XMLHttpRequest();
      xhr.open("GET", dyno_url);
      xhr.setRequestHeader("Accept", "application/vnd.heroku+json; version=3");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.setRequestHeader("Authorization", `Bearer ${heroku_api}`);
      xhr.send()
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          let response = xhr.responseText
          let json_response = JSON.parse(response)
          let dynoList = []
          json_response.forEach(dyno => {
            if (dyno['command'] === `python ${script_name}.py`) {
              dynoList.push(dyno);
            }
          });
          console.log(dynoList)
          if (dynoList.length >= 1) {
            console.log("Script running...")
            updateProgress()
          } else {
            if (click) {
              startScript()
              console.log("Starting script")
            } else {
              updateProgress(last=true)
            }
          }
        }
      };
    };

    function updateProgress(last=false) {
      let progressBarContainer = document.querySelector('.progress-bar__container');
      let progressBar = document.querySelector('.progress-bar');
      let progressBarText = document.querySelector('.progress-bar__text');
      let progressHeader = document.getElementById("progress_header");
      ConnectFire()
      firebase.database().ref("scanner/info").on("value", function(snapshot) {
        let counter = snapshot.val().counter
        let cutoff = snapshot.val().cutoff
        let symbols_length = snapshot.val().symbols_length
        let progress_pct = snapshot.val().progress_pct
        progressBar.style.left = `${progress_pct}%`
        let oldText = progressHeader.innerHTML.split('%)')[0] + "%)"
        let newText = `Symbols ${counter + 1} / ${Math.min(cutoff,symbols_length)} (${progress_pct + 100} %)`
        if (oldText != newText) {
          progressHeader.innerHTML = newText + progressHeader.innerHTML.split('%)')[1]
        }
        if (counter + 1 == Math.min(cutoff,symbols_length)) {
          progressBarText.style.display = "contents"
        } else {
          progressBarText.style.display = "none"
        }
      })
      if (!last) {
        GetScriptStatus()
      } else {
        console.log("Script finished")
      }
    }

    updateProgress(); // Will check for ongoing progress on page refresh

    </script>
</body>
{% endblock %}
</html>