    <!-- Navbar start -->
    {% extends "navbar.html" %}
    {% block all_else %}
    <!-- Navbar end -->
    <!-- Cards start -->
    <br><br>
    <section class="p-5">
      <div class="container">
        <div class="row" id="row1">
          <div class="col" id="col1">
            <h3>Jimmy Scan&nbsp;<button class="viz_submit" onclick="clearInputs()">Clear</button></h3>
          </div>
        </div>
        <form action="/" method="POST">
          <div class="row" id="row2">
            <div class="col" id="col2">
              <table>
                <thead>
                  <tr>
                    <th>Periods Back</th>
                    <th>Period Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input id="periods_back" name="periods_back"></td>
                    <td>
                      <select id="periods_unit" name="periods_unit">
                        <option></option>
                        <option value="daily">daily</option>
                        <option value="weekly">weekly</option>
                        <option value="monthly">monthly</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" id="row3">
            <div class="col" id="col3">
              <input class="viz_submit" type="Submit" onclick="storeInputs()">
            </div>
          </div>
        </form>
        <div class="row" id="row4">
          <div class="col" id="col4">
            <div id="progress_header">
              Symbols 0 / 200 (0 %)
              <div class="progress-grid__container">
                <div class="progress-bar__container">
                  <div class="progress-bar">
                    <span class="progress-bar__text">Screener finished, paused</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="row5">
          <div class="col" id="col5">
            <button id="btnExportToCsv" type="button" class="button">Export to CSV</button>&emsp;&emsp;</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Cards end -->
    <style>
      body {
        background-color: gainsboro;
      }
      .pointer {
        cursor: pointer;
      }
      #progress_header {
        width: 100%;
        text-align: left;
        padding: 5px;
      }
      .progress-grid__container {
        display: flex;
        justify-content: left;
        align-items: left;
        height: 100%;
        width: 100%;
        padding: 5px;
      }
      .progress-bar__container {
        width: 70%;
        height: 2rem;
        border-radius: 2rem;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        will-change: transform;
        box-shadow: 0 0 5px #008516;
      }
      .progress-bar {
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        background-color: #008516;
        top:0;
        bottom: 0;
        left: -100%;
        border-radius: inherit;
        display: flex;
        justify-content: center;
        align-items:center;
        color: white;
        font-family: sans-serif;
      }
      .progress-bar__text {
        display: none;
      }
      .viz_submit {
        margin-top: 1vmax;
        border: 1px solid #55acee;
        outline: none;
        background-color: #55acee;
        color: white;
        cursor: pointer;
        transition: 0.3s;
      }
      .viz_submit:hover {
        background-color: white;
        color: #55acee
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>

    const btnExportToCsv = document.getElementById("btnExportToCsv");
    btnExportToCsv.addEventListener("click", () => {
        let indexTable = document.getElementById("index_table1");
        let indexTableHead = indexTable.getElementsByTagName("thead")[0]
        let indexTableBody = indexTable.getElementsByTagName("tbody")[0]
        var tableRows = indexTable.getElementsByTagName('tr');
        var rowCount = tableRows.length;
        for (var x=rowCount-1; x>0; x--) {
          if (tableRows[x].style.display == "none") {
            indexTable.children[1].removeChild(tableRows[x]);
          }
        }
        const exporter = new TableCSVExporter(indexTable);
        const csvOutput = exporter.convertToCSV();
        const csvBlob = new Blob([csvOutput], { type: "text/csv" });
        const blobUrl = URL.createObjectURL(csvBlob);
        const anchorElement = document.createElement("a");
        anchorElement.href = blobUrl;
        anchorElement.download = "table-export.csv";
        anchorElement.click();
        setTimeout(() => {
            URL.revokeObjectURL(blobUrl);
        }, 500);
    });

    function storeInputs() {
      localStorage.setItem("periods_back", document.getElementById("periods_back").value);
      localStorage.setItem("periods_unit", document.getElementById("periods_unit").value);
    }

    function clearInputs() {
      document.getElementById("periods_back").value = '';
      document.getElementById("periods_unit").value = '';
    }

    function displayInputs() {
      document.getElementById("periods_back").value = localStorage.getItem("periods_back");
      document.getElementById("periods_unit").value = localStorage.getItem("periods_unit");
    }

    displayInputs();

    </script>
</body>
{% endblock %}
</html>