    <!-- Navbar start -->
    {% extends "navbar.html" %}
    {% block all_else %}
    <!-- Navbar end -->
    <br>
    <section>
      <div class="col-md">
        <div class="card text-bg-info text-light">
          <div class="card-body text-center">
            <h3 class="card-title mb-3"><br>Orders</h3>
            <p class="card-text">
              <div class="table-responsive scroll">
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Symbol</th>
                        <th>Shares</th>
                        <th>Gainloss %</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{order['open_date']}}</td>
                            <td>{{order['symbol']}}</td>
                            <td>{{order['quantity']}}</td>
                            <td>{{order['gain_loss_percent']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Cards end -->
<style>
    body {
        background-color: gainsboro;
    }  
    .scroll {
      max-height: 600px;
      overflow: scroll
    }
    .scroll thead th {
      position: sticky;
      top: 0
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
{% endblock %}
</html>